### 读取数据

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [2]:
# 读取Test数据集
dpath = "../Data/"
testTemp = pd.read_csv(dpath+"test.csv", iterator=True)
# 设置分块参数
loop = True
chunkSize = 100000
chunks = []

while loop:
    try:
        chunk = testTemp.get_chunk(chunkSize)
        chunks.append(chunk)
    except StopIteration:
        loop = False
        print("Iteration is stopped.")
test = pd.concat(chunks, ignore_index=True)
print(len(test))

Iteration is stopped.
2556790

In [3]:
# 读取members数据集
members = pd.read_csv(dpath+"members.csv")
print(len(members))

34403

In [4]:
test_members = pd.merge(test, members, how='outer')
test_members = test_members.drop(["id"], axis=1)
test_members.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,city,bd,gender,registered_via,registration_init_time,expiration_date
0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,1,0,NaN,7,20160219,20170918
1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,1,0,NaN,7,20160219,20170918
2,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,A4Xu2KK/i4wlarqf8SOQ61S/XTIDEaNtKSKKHWGca4w=,my library,Local playlist more,local-library,1,0,NaN,7,20160219,20170918
3,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,YJKHI4Asj1oM5vJftbISis2QYliVSExtWiWnwb7TOgo=,my library,Local playlist more,local-library,1,0,NaN,7,20160219,20170918
4,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,pcxJbwDNuVwQhMfbiZdKvw/KMlUEeYmoXVbC7v/78SY=,my library,Local playlist more,local-library,1,0,NaN,7,20160219,20170918

### 对空值的粗处理

In [5]:
# 查看数据组成
test_members.info()
# 寻找空值
print(test_members.isnull().sum())
print(test_members.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2566062 entries, 0 to 2566061
Data columns (total 11 columns):
msno                      object
song_id                   object
source_system_tab         object
source_screen_name        object
source_type               object
city                      int64
bd                        int64
gender                    object
registered_via            int64
registration_init_time    int64
expiration_date           int64
dtypes: int64(5), object(6)
memory usage: 234.9+ MB
msno                            0
song_id                      9272
source_system_tab           17714
source_screen_name         172155
source_type                 16569
city                            0
bd                              0
gender                    1059136
registered_via                  0
registration_init_time          0
expiration_date                 0
dtype: int64
(2566062, 11)

In [6]:
# 删除空值比较少的字段
filterData = ['song_id', 'source_system_tab', 'source_type']
TestMembers = test_members.dropna(subset = filterData)
print(TestMembers.isnull().sum())

msno                            0
song_id                         0
source_system_tab               0
source_screen_name         153477
source_type                     0
city                            0
bd                              0
gender                    1047088
registered_via                  0
registration_init_time          0
expiration_date                 0
dtype: int64

### 对数量比较少的数据类型进行合并

In [7]:
# source_screen_name中的量少的数据进行合并
otherScrName = ["Discover New", "Search Trends", "Search Home", "My library_Search",
 "Self profile more", "Concert", "Payment"]
col_origin = TestMembers.columns

column_np = np.array(TestMembers)
cols=column_np.tolist()
for col in cols:
    if col[3] in otherScrName:
        col[3] = "Other"
TestMembers = pd.DataFrame(columns = col_origin, data = cols)
TestMembers["source_screen_name"].value_counts()

Local playlist more     844887
Online playlist more    529785
Radio                   211201
Album more              175744
Search                  121955
Artist more             110999
Discover Feature         93226
Others profile more      90437
Discover Chart           78930
Discover Genre           41612
Explore                  27852
My library               25230
Unknown                  23620
Other                    17134
People local                13
People global                1
Name: source_screen_name, dtype: int64

In [8]:
# 将source_screen_name中的nan值转化为Unknown
values = {'source_screen_name': "Unknown"}
TestMembers.fillna(value = values)
# 只是对之后的数据进行修改，这个是对原数据进行修改
TestMembers["source_screen_name"].fillna("Unknown",inplace=True)
print(TestMembers["source_screen_name"].value_counts())
TestMembers.isnull().sum()

Local playlist more     844887
Online playlist more    529785
Radio                   211201
Unknown                 177097
Album more              175744
Search                  121955
Artist more             110999
Discover Feature         93226
Others profile more      90437
Discover Chart           78930
Discover Genre           41612
Explore                  27852
My library               25230
Other                    17134
People local                13
People global                1
Name: source_screen_name, dtype: int64

msno                            0
song_id                         0
source_system_tab               0
source_screen_name              0
source_type                     0
city                            0
bd                              0
gender                    1047088
registered_via                  0
registration_init_time          0
expiration_date                 0
dtype: int64

In [9]:
# 对年龄进行离散化
column_np = np.array(TestMembers)
cols=column_np.tolist()
for col in cols:
    if col[6] < 3 or col[6] > 80:
        col[6] = 0
    if col[6] >= 3 and col[6] < 23:
        col[6] = "3~23"
    elif col[6] >=23 and col[6] < 27:
        col[6] = "23~27"
    elif col[6] >=27 and col[6] < 33:
        col[6] = "27~33"
    elif col[6] >=33 and col[6] <= 78:
        col[6] = "33~78"
    elif col[6] == 0:
        col[6] = np.nan
TestMembers = pd.DataFrame(columns = col_origin, data = cols)

In [10]:
print(TestMembers["bd"].value_counts())
print(TestMembers["source_type"].value_counts())

27~33    421244
33~78    396566
3~23     348798
23~27    338025
Name: bd, dtype: int64
online-playlist           772629
local-library             581641
local-playlist            294384
radio                     214696
album                     195163
top-hits-for-artist       179348
song                      129108
song-based-playlist        87132
listen-with                84470
topic-article-playlist      5082
my-daily-playlist           2022
artist                       428
Name: source_type, dtype: int64

In [11]:
otherSouType = ["listen-with", "topic-article-playlist", "artist", "my-daily-playlist"]
col_origin = TestMembers.columns

column_np = np.array(TestMembers)
cols=column_np.tolist()
for col in cols:
    if col[4] in otherSouType:
        col[4] = "Other"
TestMembers = pd.DataFrame(columns = col_origin, data = cols)
TestMembers["source_type"].value_counts()

online-playlist        772629
local-library          581641
local-playlist         294384
radio                  214696
album                  195163
top-hits-for-artist    179348
song                   129108
Other                   92002
song-based-playlist     87132
Name: source_type, dtype: int64

In [12]:
for col in TestMembers.columns:
    print(TestMembers[col].value_counts())

KGXNZ/H3VxvET/+rGxlrAe7Gpz2eKMXyuSg3xh8Ij1M=    2475
yBXKYfcmQ+TtIEvkLQXabAY2uwudIGn21dEZYAwCDCg=    2389
MXIMDXO0j3UpaT7FvOSGW6Y5zfhlh+xYjTqGoUdMzEE=    2075
y+PDdTzWxEVgd0r1BH38ib0SuyWzgd1FAV5iMl53Uw0=    2068
y3IT85vrzY2iBxFg6nsh4Cmg+mV3oqR73TPekK7x1Rc=    2058
o+5RNlSWrzvrphgBNGIo1FLkGxBgyICns6qXj3nS7Pk=    1781
FGqBebsinq4fszaFAyN4WqDL6vnhMlMe248eN5EgnWI=    1762
mGDObQQojFOJfK2rJKcme282huuk0qDxBzWL22/qYbc=    1675
BqnomjS+KJtzWrGRkqLEoO3I7KapwN4B8H9in4Fsf+I=    1629
6zb1JIozg37wsF7TsVd/U/ZT3peCtosRl/KpxyZvILs=    1614
2pUzjoYYUf9j1xpJOGmzu0Zp+52MdLKsVH0eFLePBbs=    1613
Hm3iH5wb4xg6YJa4HKRhTN2OfOecobNmHfxCAl4T374=    1582
FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=    1564
8G9kFHqzaGUu0BRbHV87yYhrWKEaGkuE6beClg2buAc=    1559
K1BJCDeN15EDF2kmNJ4pVKNp6kAhNOyiNOdivzOVe+Q=    1540
x1staqrE1JMIUlvyEVgMYgDfZhlTGfpA3qtPSj+N77g=    1480
cqjRBV/jWN2ujhc+z/4tz+Mj6xEfflAAt6qBXCqxKvw=    1438
pForpfrz+EtnctFemGiaGXRER8TXx3C63pD13pGXwPo=    1434
38LUs5mVWNKfyjL7ilf9JCnWZLjnno2obLXr69JJKcw=    1396
TxneOykZ/MOIbQmA/aJ4EUQUIR9r+Egt6TNQu0WgwpA=    1395
cNssc+2L1Fx77CzASou28E9qfWeJjQKZtfoADkl/xkQ=    1383
INZ9nLYzLBH2w7LHo42K0XfM2xe4Z8f1QAPsTQAdWQg=    1367
7xiBI5xU3P2/IiR9teB7jySfzWo96JGikGajteLd3Cs=    1349
Mpt2fpn7GsL2m33gY79d8pdglz4oYt2uXJVcZmG1xq8=    1320
wcpspaw6+dFR9R2y0T9oUSwmB+ZS2Fi8U3KCnbSdFT4=    1319
jL7ukei/Kb4gDCfTG4+VhV4TzLaDecjji/aW+GqWvac=    1263
l8r5s1W/iTPlGRxMXJDl0aZAk9suTgtodRrbXN8Xly4=    1209
saNgxsUQwx4IXBRgFF0w3uJN6KzvQBEv3dI7dDaz97g=    1192
2+T8pswRgDmvZ6B4esKi3lWZyT4xqeVKmv19J0/y51w=    1174
y2XX7JrDw7iMqTkoHtxZuJ+FYVystzaa7XZ9cAj3jQQ=    1160
                                                ...
ObYvOGGXsWlhsCwMJKYWkmzgp7kS/z9adMUgANSTo58=       1
WBeveD89FSFPQ3ThYDzRrmFx+DXbj8iDf69jMYW6kOU=       1
uPT2alk6NW0/A00qYW+VygnKFnpsJTbp4DZ3qeArYzw=       1
UEGeb3U48qXov/CT8TByGcP//258GEZgCOj82miBmsY=       1
0alDY3IKdwKMOKfmTe+CZoo/OzNvdIDeqBhar9MMDVk=       1
XDGaeSJnElrbArilboMBV1sNKsitLdklv+XeB5rXvpc=       1
1RYIrHvPJzj/qOAlTXRAH6swsbaD11PDsagsH7dPssE=       1
C020xxWv4EHk8/U55A1EwKGTYr3l3esJCJPUw7K8epw=       1
c8bnioPfkzjwtrMD+3H8YpMYuxVT4RV81dsg4dxZUtU=       1
QH04zuvZm9V73ByeCT6rC1Ou81Xqq+ayJiADF49rVGw=       1
pFgwB5ZYRuSliMDxvTXi6C3RGrP09uREe9r1mFWhCZY=       1
2ixN/+YMYAC2Gl1/pjGJ/DYi80Dtm62VTsP9oywE4As=       1
PJtQZNjE4dKl40JlBkepgOt/WhG0AlWYJq78BMVXOpE=       1
hdtNxkpJk2kxvXLi9NkbYehC11x05ubSyQFG9VpS7Is=       1
3pksAcn6WFFAJRCRAIpTsl1dQvf7Uba6Ch+wY661xbA=       1
28xb/u1zFQ8Omd665zU4kb99O1nqdtS7/ZYOtShiDZc=       1
zgUfAp/vX4shk/z1jyuSPpEGFOxlyd3eZy4CpmQ4wNk=       1
9hUWqtt6HbTDpbf/0Gtldc7MSIoM7LRYdzkZYOqIbp8=       1
M8EbstyhMeRAFlr0thFFINrDQ6Vv2k2dzpGzRZ1acVs=       1
hibwnm3IMBkrtnTnt/rpN3IfxnQRsM+y/lxiQ1SstHQ=       1
sGaVmBNojFvrYGK5oXj5GnQmEpt1rc3En8LTw7aADqE=       1
CY00BwK4N5pOv+spt+fjxy5WHTxfWrHt1MOJql2TKXw=       1
XjR9I0ZJsq+yVid1gg8oUX+WdUv4Yy/TCkTPflRdnKY=       1
tSZQ76JNbvfOaQqcn7pHPRNJzLsZiXL9IPeEjQnpul8=       1
CZ+IwyEaFk55DCEztqMMx7yFrlFLPm2Tq/O56Si8Qwg=       1
nAuKLqwwbGYNYwHJB7qasJ93SItiZB2i1SYR7XyW9LY=       1
Fi5JE5XsR0frMhfcGcz8RhyGIp+kJEBPQ1jrDZV5xC4=       1
NwhSATcPIKToEkePHz8OFkw3UowtaUulOW+ZgKB2uTE=       1
K6aNiV2E4+mrDzp5izT5o9zEirurDKYH4zpuIpRC178=       1
MBAVxtDoL3iwa5EbvGqyIyaNF11dP0R/rdcPVO6/Jy4=       1
Name: msno, Length: 25063, dtype: int64
ZcKgNis1AP1LA0sdtIddrtk7P04iiJzJrXvwXdT/X3Q=    8293
DLewxl82pFT6+OgSpGYmN26IayVLtcv2eiJEJBSIWLI=    5871
CsqfeIr3/stOaLTq+Z+Yt6VnPSqPWS2wxxnCKJL86oM=    5572
ZXW6Df8q6jp6cUWCM6hFTAG/3PrqUZ2j5cBobvszX6E=    5537
HGROX/ydkner7ykeMTZjh5oW/b0DbHb0awQIqRNBHIc=    5168
CIczx2LF40xrm4tpnNvN7YbzZ4+pzTimo00/fjj+4CM=    4896
fMNUtrU1ABmSjdJy+XQlo0QP/4Sf+XEAWZkQ5mZwSm0=    4636
ld7wZZNHXEO8wGLYyGti0q6ibv/knCVDTyhJImWn5Mc=    4100
UQeOwfhcqgEcIwp3cgNiLGW1237Qjpvqzt/asQimVp0=    3674
YDH6i3TaG+cGzSoSx7oIWZrmxPs8ANyO5shZj+j9obg=    3631
C5eT8KL1Fd76QFTuivkeB9xFdGo60dI80JIr0IP3Foo=    3571
yk2hZS4SA2yit4orR06WHYDkkXg5+E77bA7Y533znZ4=    3261
kMIJnH+Xma633KX+coW+4Jy517FE7ayQfvEWue2knfQ=    3137
4rJZSt5ePuVVxbTxaDMqYNMGlH4HIQCQ+Ypc/uKfp6I=    3118
Kcpjorb5iiPF0KBDW9KwghGP6pOa0kmflHJ9QPW8yh0=    3105
JgBVDRyiREdaf2XOliIsY0CCMniIuBCtfMA6WzrWnck=    3093
i7mW3vGbMipgf/HXBI3oNWdE5yRdRnytiWCRnplEDTE=    3054
+2Ds+tDr0QXQ5vtW+ygssPP/Fm9YFp6iELmpex7pLcU=    3052
KCJ8BlSfRQRgB7EVuzFvg52AhR8m2fT032MzN5ewbEI=    2967
2uFTn3kDES2C3JeqzV4cpSAGQ756GFK0XajzEDLqER4=    2965
0CBHr70SNEHsVP/3sEVonkupy3NNCg2H0f5SxKEM4Rc=    2950
QiRTMce4Umbhcl9MneQyM5liKG9ZLNOpQ0OK4jfhwyY=    2910
0b8M2FLEH176y/ng1rK9ftUYDYnA+1NdoCOUeuyBMtU=    2896
JVwoBKjxxE9L/IpNKsSCJJIYHcxvwxOKbFnM3TLwcTQ=    2862
Ujt3R5hAe0Pix2mURuC+CO6aazhCvEU2lByPzy3E90k=    2833
KnNPuXCvhpBA4L6baLLiQnVi6RMEN0EoHN6gwqMkxh8=    2746
G0rUz0kguI35yzj95LX2BXI30PqCcJJtPNfirR0BhIs=    2709
wJoWzZd7AL+qX9xZWZwRTzGRYg0Lxcl5Pe+9n5hZgAQ=    2644
UVARDmPZQIC2uety0QFm1vC5JvkqsezXsSnfc3r1WXc=    2641
LUD48hW5OjRtlnREnobe+RbZ8y4o+EDkr1Uxlv7CBAU=    2579
                                                ...
tu9hmnGzZYEEj8Sl5vfCWX8HwFzShZMGPbYLHd2EwvA=       1
GOvzc8od6BifXCb/OAAFa3DEINCHAQyUn7GuEkevB64=       1
O+yItI/VLFcjq5Luq/23Ipch0CDjE7G0eLLPTFr+AEo=       1
SpO7K6i+nGznUTxHP+g1WgFZKFiRIpRYQZzzCQE9c1k=       1
hjhewFy+6OAX9QvKtD9a6l2Uvif+qZyowjCIC7smPGs=       1
sDd0cjR1P8obIQoye76a3TtrL0uElohR9sjwZrIROk4=       1
jmhRZM2dUpvd1ZOZYBJ5eNWm8Bh//zZsRi9y7QVigzY=       1
CtcvNMSg6YSH+8A3yF0amtbpEEmfwxTNQ3TLHOfE0HM=       1
bdbdGC43YQXVtsrwpIqK2whlJcR/Lcg4AhLN3YSdp2c=       1
VePDWjQ1UQ46gvEZdmwVB9vn0y9ePv3IVujTwrnkAEg=       1
GFk/+O4SFNp4O2fpXkYhdbsuX1Vph3f6rEah5kjik14=       1
/dOfJusioTPk3vzrVli7TxMEHGoYBzfZBpMxHcS4M+k=       1
GjvwNHQ4i/BsVJcqIDnx9U0hadSSCA15d0lYNNqyXRc=       1
ptW6aR9/BsyRpQCSGur3EhNYsY4Fu9v7glvOuINXUEo=       1
GbUlN+TM8g0ZGltB1Pyjf8t4WxDVFdacYE8qzWozwZk=       1
QIPvtvUU6QLky3GrCENWTrFSidIUqL3C/AAc11tAWvY=       1
PdwFfWzuSYbsqEVOqL0lRkMRULJ+Kk8HpZ3QKwYTGoY=       1
GDqrQ0A5pKbdf61n0k3kD1yIq7QBU0Qn6iR/uPKNr/I=       1
M9iMginSeyfsC8XEZes6VRN+2nvLQndeoNdg6DxpABI=       1
fiU6B6yeEEjQI93rGCCiElc/Qh9v+sAXnMan0ielrrI=       1
B/R1xPgwWQ7OLTctsTS97Smkm0ldMMrIa46f3N1WooA=       1
tdTN3ROldNioK6053nuPaE+mKFCAIFm7KoQ0ABZmlyY=       1
9pYEc9bZx0OSDsuswSLdBlkEx6CEAOdRjUJ4YO6xfkw=       1
5kqW/empkA2Q+kCPz+1P0DUzeX8YEPCfj079H80cKfI=       1
TQ2+pywMUvmizURQVcg2CLwpeM9yDX83orzQ3dnSOyk=       1
4p2K8Fmp59SvE3H8z7nJKY8Mde86TY+RouOpPts91a8=       1
MdCTQg8Pj8LgjkiDVUOHnhf7+ghDjzV8eMm1hB31v0M=       1
AFmeDFbjj4V+oVmDYX89mKjPv9iEZo36Eu+UYihNEFo=       1
EVC5sKVOyuBUmfgcRjQBZkJdOJonINAvMzVMbHJqllQ=       1
FdoUJBzU3NVxipbk2RLP73o0zDO3GsSSBQP8p6iLiKk=       1
Name: song_id, Length: 224362, dtype: int64
my library      1018931
discover         869725
search           277598
radio            212763
listen with       98612
explore           65717
notification       2124
settings            633
Name: source_system_tab, dtype: int64
Local playlist more     844887
Online playlist more    529785
Radio                   211201
Unknown                 177097
Album more              175744
Search                  121955
Artist more             110999
Discover Feature         93226
Others profile more      90437
Discover Chart           78930
Discover Genre           41612
Explore                  27852
My library               25230
Other                    17134
People local                13
People global                1
Name: source_screen_name, dtype: int64
online-playlist        772629
local-library          581641
local-playlist         294384
radio                  214696
album                  195163
top-hits-for-artist    179348
song                   129108
Other                   92002
song-based-playlist     87132
Name: source_type, dtype: int64
1     931243
13    376907
5     277594
4     187330
22    165629
15    159847
6      99384
14     82837
12     50884
9      30007
11     29399
8      28139
10     26122
18     25835
21     19859
3      19388
17     17400
7      11119
16      3001
19      2328
20      1851
Name: city, dtype: int64
27~33    421244
33~78    396566
3~23     348798
23~27    338025
Name: bd, dtype: int64
male      765858
female    733157
Name: gender, dtype: int64
9     951049
7     898391
3     417643
4     271848
13      7170
16         2
Name: registered_via, dtype: int64
20170204    7148
20170207    6426
20170131    6241
20170206    5692
20120118    5263
20170203    4972
20170215    4877
20111222    4838
20170208    4774
20170103    4763
20160401    4709
20170201    4653
20170202    4595
20170210    4533
20160202    4346
20121027    4077
20170205    4059
20111223    4007
20170222    3987
20111228    3977
20120117    3966
20170217    3902
20160605    3729
20170218    3705
20160827    3704
20160116    3684
20170124    3673
20170129    3669
20160218    3624
20160124    3576
            ...
20160428       3
20100312       3
20051016       3
20090914       3
20080703       3
20080221       2
20051110       2
20091127       2
20100212       2
20091220       2
20080828       2
20081123       2
20090820       2
20100202       2
20080323       2
20081021       2
20090313       2
20051223       1
20100518       1
20050314       1
20090325       1
20090412       1
20080826       1
20040707       1
20080905       1
20040826       1
20090420       1
20080223       1
20090806       1
20071215       1
Name: registration_init_time, Length: 3748, dtype: int64
20170930    265914
20171004     64988
20171006     63367
20171005     61496
20171002     57411
20170920     56605
20170917     56368
20171001     53441
20171003     51960
20170910     51670
20170909     50862
20170916     48504
20170923     47367
20170919     47014
20170922     46407
20171007     44499
20170912     42132
20170924     41801
20170914     41502
20170908     41023
20170913     40388
20170915     39904
20170918     39769
20170911     39708
20170921     39665
20170925     29565
20170907     22522
20170926     22084
20170927     21466
20170708     15504
             ...
20160126         1
20140323         1
20150124         1
20160822         1
20131115         1
20160611         1
20150622         1
20160709         1
20121208         1
20141226         1
20140816         1
20150713         1
20150701         1
20140506         1
20150728         1
20150520         1
20150815         1
20160917         1
20150808         1
20121106         1
20160307         1
20140824         1
20140912         1
20150511         1
20070816         1
20130611         1
20150908         1
20140224         1
20151127         1
20150320         1
Name: expiration_date, Length: 1187, dtype: int64

### 将类别型特征进行LabelEncoder处理

In [13]:
"""
# 实例化对象
LE = preprocessing.LabelEncoder()
# 将msno字符串转换为数字
LE.fit(TestMembers["msno"].values)
leMsno = LE.transform(TestMembers["msno"])
# 将转换后的结果添加到TestMembers里
le_msno = pd.Series(data=leMsno, name="LE_msno")

TestMembers = pd.concat([le_msno, TestMembers],axis=1)
# 将原msno剔除
TestMembers = TestMembers.drop(["msno"], axis=1)
TestMembers.head()
"""

'\n# 实例化对象\nLE = preprocessing.LabelEncoder()\n# 将msno字符串转换为数字\nLE.fit(TestMembers["msno"].values)\nleMsno = LE.transform(TestMembers["msno"])\n# 将转换后的结果添加到TestMembers里\nle_msno = pd.Series(data=leMsno, name="LE_msno")\n\nTestMembers = pd.concat([le_msno, TestMembers],axis=1)\n# 将原msno剔除\nTestMembers = TestMembers.drop(["msno"], axis=1)\nTestMembers.head()\n'

In [14]:
# leSongid = LE.fit_transform(TestMembers["song_id"])
# le_songid = pd.Series(data=leSongid, name="LE_song_id")
# TestMembers = pd.concat([le_songid, TestMembers], axis=1)
# TestMembers = TestMembers.drop(["song_id"], axis=1)
# TestMembers.head()

In [15]:
"""
# 把target放入最后一列
Target = TestMembers['target']
TestMembers = TestMembers.drop(['target'],axis=1)

TestMembers.insert(12,'target',Target)
TestMembers.head()
"""

"\n# 把target放入最后一列\nTarget = TestMembers['target']\nTestMembers = TestMembers.drop(['target'],axis=1)\n\nTestMembers.insert(12,'target',Target)\nTestMembers.head()\n"

### 将数据进行One-hot编码

In [16]:
# New["gender"].astype("object")
# genderCat = pd.get_dummies(New["gender"], prefix="gender")
# TestMembers = [New, genderCat]
# TestMembers = pd.concat(TestMembers, axis=1).drop(['gender'], axis=1)
# TestMembers.head()

In [17]:
# # 将bd进行One-hot
# New["bd"].astype("object")
# BdCat = pd.get_dummies(New["bd"], prefix="bd")
# TestMembers = [New, BdCat]
# TestMembers = pd.concat(TestMembers, axis=1).drop(['bd'], axis=1)
# TestMembers.head()

### 将这些数据存起来

In [18]:
TestMembers.to_csv(dpath +'TestMembers.csv',index=False,header=True)